<!DOCTYPE html>
<head>
	<title>Prsonal &bull; RESUME</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body><center>
<div id="header">
    	<h1>RESUME OF <br/>MD SOHAG MIA<br/>E-Mail:shohagmia1134019@gmail.com<br/>Mobile: 017295277508</h1>
        <img src="images/profile.jpg">
    </div>
    <div id="main">
      <p>OBJECTIVE</p>
      <h2>To be a part of a dynamic and high quality organization and be able to fulfill my career ambition while proving a reciprocal contribution inof commitment and high level of customer care.</h2>
      <p>EDUCATION QUALIFICAION</p>
      <table style="width:100%">
  <tr>
    <th>Exam Name</th>
    <th>University/Board</th>
	<th>Department</th>
	<th>CPA/CGPA</th>
    <th>Passing Year</th>
  </tr>

  <tr>
    <td>SSC</td>
    <td>DHAKA</td>
    <td>SCIENCE</td>
    <td>5.00</td>
    <td>2008</td>
  </tr>
  <tr>
    <td>SSC</td>
    <td>DHAKA</td>
    <td>SCIENCE</td>
    <td>5.00</td>
    <td>2008</td>
  </tr>
  <tr>
    <td>SSC</td>
    <td>DHAKA</td>
    <td>SCIENCE</td>
    <td>5.00</td>
    <td>2008</td>
  </tr>
</table>
<p>OBJECTIVE</p>
			<h2>Full Name :Sohag mia<br/>
Nick Name : sohag<br/>
Father's Name :Hafiz uddin<br/>
Mother's Name :Fazila khatun<br/>
Date of Birth : 02-02-1992<br/>
Place of Birth : Mymensingh<br/>
Religion : Islam.<br/>
Blood Group : B+<br/>
Nationality : Bangladeshi (By birth).<br/>
Sex : Male.<br/>
Marital Status : Unmarried</h2>

<p>EXPERIENCE:</p>
	<ul>
  <li>Basic knowledge of Computer Programming(C, C++, Java), Computer Networking,
Software management & Hardware.</li>

<p>REFERENCES:</p>
<h5> Md. Obaidur Rahman, Ph.D.<br/> Associate Professor Department of CSE<br/>Dhaka University of Engineering & Technology (DUET), Gazipur.<br/>G-Mail: mdobaidurrahman@gmail.com.
 </h5>
<h6> Dr. Fazlul Hasan Siddiqui<br/> Assistant Professor Department of CSE<br/>Dhaka University of Engineering & Technology (DUET), Gazipur.<br/>Mail: fhsiddiqui@duet.ac.bd  </h6>
</div>
</body></center>
</html>
